<body class="host_version"> 
<div id="plan" class="section lb">
        <div class="container">
            <div class="section-title text-center">
                <h3>Matricúlate</h3>
                <p>Matricula a tu hij@ en modalidad jardín, escuela o colegio. </p>
            </div><!-- end title -->

            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="message-box">
                        <ul class="nav nav-pills nav-stacked" id="myTabs">
                            <li><a class="active" href="#tab1" data-toggle="pill">Matricula Escolar</a></li>
                            <li><a href="#tab2" data-toggle="pill">Matricula Bachiller</a></li>
                        </ul>
                    </div>
                </div><!-- end col -->
            </div>

            <hr class="invis">

            <div class="row">
                <div class="col-md-12">
                    <div class="tab-content">
                        <div class="tab-pane active fade show" id="tab1">
                            <div class="row text-center">
                                <div class="col-md-4">
                                    <div class="pricing-table pricing-table-highlighted">
                                        <div class="pricing-table-header grd1">
                                            <h2>$50</h2>
                                            <h3>Pre-Kinder</h3>
                                        </div>
                                        <div class="pricing-table-space"></div>
                                        <div class="pricing-table-features">
                                            <p><i class="fa fa-usd"></i> <strong>60</strong> Mensual</p>
                                            <p><i class="fa fa-clock-o"></i> <strong>6</strong> horas de clases interactivas</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="pricing-table pricing-table-highlighted">
                                        <div class="pricing-table-header grd1">
                                            <h2>$55</h2>
                                            <h3>Kinder</h3>
                                        </div>
                                        <div class="pricing-table-features">
                                            <p><i class="fa fa-usd"></i> <strong>65</strong> Mensual</p>
                                            <p><i class="fa fa-clock-o"></i> <strong>7</strong> horas de clases interactivas</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="pricing-table pricing-table-highlighted">
                                        <div class="pricing-table-header grd1">
                                            <h2>$85</h2>
                                            <h3>Escuela</h3>
                                        </div>
                                        <div class="pricing-table-space"></div>
                                        <div class="pricing-table-features">
                                            <p><i class="fa fa-usd"></i> <strong>75</strong> Mensual</p>
                                            <p><i class="fa fa-clock-o"></i> <strong>7</strong> horas de clases interactivas</p>
                                        </div>                                        
                                    </div>
                                </div>
                            </div><!-- end row -->
                        </div><!-- end pane -->

                        <div class="tab-pane fade" id="tab2">
                            <div class="row text-center">
                                <div class="col-md-6">
                                    <div class="pricing-table pricing-table-highlighted">
                                        <div class="pricing-table-header grd1">
                                            <h2>$100</h2>
                                            <h3>Colegio</h3>
                                        </div>
                                        <div class="pricing-table-space"></div>
                                        <div class="pricing-table-features">
                                            <p><i class="fa fa-usd"></i> <strong>90</strong> Mensual</p>
                                            <p><i class="fa fa-clock-o"></i> <strong>7.5</strong> horas de clases interactivas</p>
                                        </div>   
                                    </div>
                                </div>                                

                                <div class="col-md-6">
                                    <div class="pricing-table pricing-table-highlighted">
                                        <div class="pricing-table-header grd1">
                                            <h2>$125</h2>
                                            <h3>Bachillerato</h3>
                                        </div>
                                        <div class="pricing-table-space"></div>
                                        <div class="pricing-table-features">
                                            <p><i class="fa fa-usd"></i> <strong>100</strong> Mensual</p>
                                            <p><i class="fa fa-clock-o"></i> <strong>8</strong> horas de clases interactivas</p>
                                        </div>   
                                    </div>
                                </div>
                            </div><!-- end row -->
                        </div><!-- end pane -->
                    </div><!-- end content -->
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->
</body>